<html>
<body>
<form action="/login" method="post">
    邮箱：<input name="email" type="email" placeholder="邮箱">
    密码：<input name="password" type="password">
    <button type="submit">登录</button>
</form>
</body>
</html>